.github-fork-ribbon:before {
  background-color: #333333;
}

html, body {
  height: 100%;
}

.card {
  height: 350px;
  overflow-y: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
