.github-fork-ribbon {
    display: none;
}

@media (min-width: 500px) {
  .github-fork-ribbon {
    display: block;
  }
}

.github-fork-ribbon:before {
  background-color: #333333;
}

html, body {
  height: 100%;
}

.card {
  height: 350px;
  overflow-y: auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.lang-toggle {
  font-size: 1.5rem;
  text-decoration: none;
}
