<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>Czech Rust community homepage</title>

  <link rel="alternate" type="application/atom+xml" title="Czech Rust language events"
        href="{{ get_url(path='/feed.xml') }}"/>
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>

  <link rel="stylesheet" href="{{ get_url(path='style/bootstrap.min.css') }}"/>
  <link rel="stylesheet" href="{{ get_url(path='style/gh-fork-ribbon.min.css') }}"/>
  <link rel="stylesheet" href="{{ get_url(path='style/global.css') }}"/>
</head>

<body>
<a class="github-fork-ribbon"
   href="{{ config.extra.github_url }}"
   target="_blank"
   data-ribbon="Fork me on GitHub"
   title="Fork me on GitHub">Fork me on GitHub</a>

<div class="wrapper">
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{{ get_url(path='img/ferris-cz.png') }}" alt="Rust Czech community logo" height="64"/>
        Rust Czech community index
      </a>
    </div>
  </nav>
  <section class="container mb-2">
    {% block content %}{% endblock %}
  </section>
  <footer class="bg-body-tertiary p-3 mt-auto">
    <div class="container d-flex flex-wrap justify-content-center">
      <div>
        <a href="{{ get_url(path='/feed.xml') }}">RSS</a>
      </div>
      <span class="mx-2">|</span>
      <div>Created by <a href="https://github.com/kobzol">@kobzol</a></div>
      <span class="mx-2">|</span>
      <div>
        Domain <code>rustlang.cz</code> kindly provided by <a href="https://ondrejsika.com/">Ondřej Šika</a>.
      </div>
    </div>
  </footer>
</div>

<script type="text/javascript" src="{{ get_url(path='script/bootstrap.min.js') }}"></script>
</body>
</html>
