{% extends "base.html" %}

{% macro sectionheader(label, tooltip) %}
<div class="card-title">
  <div class="accordion" id="accordion-{{ label }}">
    <div class="accordion-item">
      <h5 class="accordion-header">
        <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                data-bs-target="#{{ label }}">
          {{ label }}
        </button>
      </h5>
      <div id="{{ label }}" class="accordion-collapse collapse" data-bs-parent="#accordion-{{ label }}">
        <div class="accordion-body">{{ tooltip }}</div>
      </div>
    </div>
  </div>
</div>
{% endmacro sectionheader %}

{% macro simplelist(label, data, tooltip) %}
<div class="col-md-4 col-12">
  <div class="card">
    <div class="card-body">
      {{ self::sectionheader(label=label, tooltip=tooltip) }}
      <ul class="list-group list-group-flush">
        {% for entry in data %}
        <a href="{{ entry.link }}"
           target="_blank"
           class="list-group-item list-group-item-action"
        >
          <div class="d-flex justify-content-between align-items-center">
            <div>
              {{ entry.name }}
            </div>
            {% if entry.kind %}
            <span class="badge text-bg-secondary">{{ entry.kind }}</span>
            {% endif %}
          </div>
          {% if entry.date %}
          <small class="text-body-secondary">{{ entry.date | date(format="%d. %m. %Y %H:%M") }}</small>
          {% endif %}
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endmacro simplelist %}

{% block content %}

<div class="fs-4 py-4">
  This page serves as an index of events, communities, companies, jobs, recordings, etc. related to the Rust language in
  the Czech Republic. Contributions are <a href="{{ config.extra.github_url }}">welcome</a>!
  You can <a href="{{ get_url(path='feed.xml') }}">subscribe</a> so that you do not miss any news.
</div>

{% set communities = load_data(path="data/communities.yaml") %}
{% set events = load_data(path="data/events.yaml") %}
{% set recordings = load_data(path="data/recordings.yaml") %}
{% set education = load_data(path="data/education.yaml") %}
{% set trainings = load_data(path="data/trainings.yaml") %}
{% set companies = load_data(path="data/companies.yaml") %}

<div class="container px-4">
  <div class="row g-4">
    {{ self::simplelist(label="Communities", data=communities, tooltip="Online & offline community groups.") }}
    {{ self::simplelist(label="Events", data=events, tooltip="Meetups, conferences, etc.") }}
    <div class="col-md-4 col-12">
      <div class="card">
        <div class="card-body">
          {{ self::sectionheader(label="Recordings", tooltip="Recordings of talks, lessons, meetups, etc.") }}
          <ul class="list-group list-group-flush">
            {% for recording in recordings %}
            <a href="{{ recording.link }}" target="_blank"
               class="list-group-item list-group-item-action">
              <div class="d-flex justify-content-between align-items-center">
                <div>{{ recording.name }}</div>
                {% if recording.kind %}
                <span class="badge text-bg-secondary">{{ recording.kind }}</span>
                {% endif %}
              </div>
              <div class="fs-6 text-body-secondary">
                {{ recording.speakers | join(sep=", ") }}
              </div>
              {% if recording.date %}
              <small class="text-body-secondary">{{ recording.date | date(format="%d. %m. %Y") }}</small>
              {% endif %}
            </a>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {{ self::simplelist(label="Education", data=education, tooltip="University courses, seminars, etc.") }}
    {{ self::simplelist(label="Trainings", data=trainings, tooltip="Paid trainings on Rust.") }}
    <div class="col-md-4 col-12">
      <div class="card">
        <div class="card-body">
          {{ self::sectionheader(label="Companies/jobs", tooltip="Companies that use Rust in production and/or have Rust
          job openings.") }}
          <ul class="list-group list-group-flush">
            {% for company in companies %}
            <li class="list-group-item list-group-item-action">
              <a href="{{ company.link }}" target="_blank">{{ company.name }}</a>
              <ul class="list-group">
                {% for entry in company.entries | default(value=[]) %}
                <a href="{{ entry.link }}" target="_blank" class="list-group-item list-group-item-action">
                  {{ entry.name }}
                </a>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
